.card-container {
	padding: 30px;
}

.card {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
  border: 2px solid #ccc;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
  justify-content: space-between;
  width: 800px;
 }

 .card a {
 	background-color: rgb(237, 107, 69);
 	padding: 10px;
 	border-radius: 10px;
 }

.card_2 {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

