.container1 {
	padding: 10px; 
	margin-left: 50px;
	background-color: white;
	width: 540px;
	height: auto;
	opacity: 0.9;
}

.container2 {
	padding: 10px; 
	background-color: rgb(237, 107, 69);
	border-radius: 10px;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}