@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("container.css");
@import url("avatar.css");
@import url("banner.css");
@import url("button.css");
@import url("card.css");


body {
	font-family: "Lora", serif;
	font-size: 18px;
}

h1, h2 {
	color: rgb(0, 0, 0);
}

a:hover {
    font-weight: bold;
}

 #skills {
 	text-align: center;
 	font-size: 40px;
 	margin-bottom: 20px;
 	margin-top: 50px;
 }

 #client {
 	text-align: center;
 	font-size: 40px;
 	padding: 20px;
 }
